{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Channels Chat</title>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <style>
            {% block custom_css %}{% endblock %} 
        </style>
        {% block custom_link %}{% endblock %}
    </head>
    <body>
        <div class="container mt-3 p-5">
            {% block content %}{% endblock %} 
        </div>
        {% block custom_js %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
